.container {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}
#main-banner .container, #order-section .container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.site-header {
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
}
.site-header .order-now {
  position: absolute;
  right: 14px;
  top: 31px;
  width: 105px;
  border-radius: 24px;
  font-size: 14px;
  line-height: 48px;
}
@media (min-width: 768px) {
  .site-header .order-now {
    top: 35px;
  }
}
@media (min-width: 960px) {
  .site-header .order-now {
    font-size: 18px;
    width: 155px;
  }
}

.site-main {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.site-branding {
  margin-top: 0 !important;
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .site-branding {
    position: static;
    transform: none;
    margin-left: 17px;
  }
}
.site-branding .site-logo {
  margin: 0;
}

.order-now {
  width: 155px;
  border-radius: 27px;
  background: #f19505;
  text-decoration: none;
  font-size: 18px;
  line-height: 59px;
  color: #000;
  font-weight: 500;
  text-align: center;
  display: inline-block;
}

.section-heading {
  font-size: 48px;
  line-height: 60px;
  color: #110f0f;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 960px) {
  .section-heading {
    font-size: 68px;
    line-height: 86px;
  }
}

.badge {
  filter: drop-shadow(0px 3px 12px rgba(0, 0, 0, 0.6));
  text-align: center;
  position: absolute;
}
.badge img {
  max-width: 100%;
}
.badge > span {
  color: #000;
  font-weight: 900;
  display: block;
  text-transform: uppercase;
  position: absolute;
}

#page {
  overflow-x: hidden;
}

.site-footer {
  background: url("./assets/images/footer-background-mob.png") no-repeat 50% 100%, #1e0809;
  background-size: cover;
}
@media (min-width: 768px) {
  .site-footer {
    background: url("./assets/images/footer-background.png") no-repeat 50% 50%, #1e0809;
    background-size: cover;
  }
}
.site-footer .site-info {
  max-width: 1120px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .site-footer .site-info {
    align-items: flex-start;
  }
}
.site-footer .site-name {
  text-align: center;
  width: 100%;
}
@media (max-width: 767px) {
  .site-footer .site-name {
    order: 0;
  }
}
@media (min-width: 768px) {
  .site-footer .site-name {
    width: 25%;
    text-align: left;
    padding-left: 10px;
  }
}
.site-footer .site-name .site-logo {
  margin: 0 auto 33px;
}
@media (max-width: 767px) {
  .site-footer .site-name .site-logo .custom-logo {
    max-width: 121px;
  }
}
.site-footer .footer-col {
  width: 50%;
  padding: 0 20px;
}
@media (max-width: 767px) {
  .site-footer .footer-col {
    order: 2;
  }
}
@media (min-width: 768px) {
  .site-footer .footer-col {
    width: 25% !important;
    padding-right: 0;
  }
}
.site-footer .footer-col.fc-contact {
  width: 100%;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .site-footer .footer-col.fc-contact {
    order: 1;
  }
}
@media (min-width: 768px) {
  .site-footer .footer-col.fc-contact {
    padding-right: 10px;
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .site-footer .footer-col.fc-contact .footer-heading {
    display: none;
  }
}
.site-footer .footer-col.fc-contact ul li {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .site-footer .footer-col.fc-contact ul li {
    border: 0;
  }
}
.site-footer .footer-col.fc-contact ul li + li {
  border-top: 0;
}
.site-footer .footer-col.fc-contact ul li a {
  font-size: 18px;
}
.site-footer .footer-col.fc-contact ul li a img {
  margin-right: 5px;
}
.site-footer .footer-col .footer-heading {
  color: #fff;
  font-size: 20px;
  line-height: 33px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .site-footer .footer-col .footer-heading {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 20px;
  }
}
.site-footer .footer-col ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-footer .footer-col ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 38px;
  font-weight: 500;
  padding: 5px 0;
  display: block;
}
@media (min-width: 768px) {
  .site-footer .footer-col ul li a {
    font-size: 18px;
  }
}

/*# sourceMappingURL=base.css.map */
