.container {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;

  #main-banner & {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.site-header {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;

  .order-now {
    position: absolute;
    right: 14px;
    top: 31px;
    width: 105px;
    border-radius: 24px;
    font-size: 14px;
    line-height: 48px;

    @media (min-width: 768px) {
      top: 35px;
    }
    @media (min-width: 960px) {
      font-size: 18px;
      width: 155px;
    }
  }
}

.site-main {
  padding-top: 0 !important;
}

.site-branding {
  margin-top: 0 !important;
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: 768px) {
    position: static;
    transform: none;
    margin-left: 17px;
  }

  .site-logo {
    margin: 0;
  }
}

.order-now {
  width: 155px;
  border-radius: 27px;
  background-color: #f19505;
  text-decoration: none;
  font-size: 18px;
  line-height: 59px;
  color: #000;
  font-weight: 500;
  text-align: center;
}
