#main-banner {
  min-height: 613px;
  background: url("./assets/images/main-banner-mob.png") no-repeat 50% 100%, #1e0809;
  background-size: cover;
  position: relative;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  #main-banner {
    background: url("./assets/images/main-banner-desk.png") no-repeat 50% 50%, #1e0809;
    background-size: cover;
  }
}
@media (min-width: 960px) {
  #main-banner {
    min-height: 787px;
  }
}
#main-banner #mb-text {
  text-align: center;
  position: absolute;
  top: 136px;
  left: 0;
  right: 0;
}
@media (min-width: 768px) {
  #main-banner #mb-text {
    right: auto;
    left: 17px;
    top: 170px;
  }
}
#main-banner #mb-text h1 {
  font-size: 60px;
  line-height: 76px;
  color: #fff;
  margin-bottom: 12px;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #8e4600, 1px -1px 0 #8e4600, -1px 1px 0 #8e4600, 1px 1px 0 #8e4600, -2px -2px 0 #8e4600, 2px -2px 0 #8e4600, -2px 2px 0 #8e4600, 2px 2px 0 #8e4600, -3px -3px 0 #8e4600, 3px -3px 0 #8e4600, -3px 3px 0 #8e4600, 3px 3px 0 #8e4600;
}
@media (min-width: 768px) {
  #main-banner #mb-text h1 {
    font-size: 90px;
    line-height: 106px;
  }
}
#main-banner #mb-text p {
  color: #fff;
  font-family: var(--kaushan);
  font-size: 22px;
  line-height: 34px;
  text-shadow: 1px 1px 2px #8e4600;
}
@media (min-width: 768px) {
  #main-banner #mb-text p {
    font-size: 25px;
    line-height: 34px;
  }
}
@media (max-width: 959px) {
  #main-banner .badge {
    max-width: 116px;
    bottom: 33px;
    right: 12px;
  }
}
@media (min-width: 960px) {
  #main-banner .badge {
    bottom: 69px;
    right: 17px;
  }
}
#main-banner .badge span {
  font-size: 12px;
  line-height: 15px;
  left: 0;
  right: 0;
  top: 40%;
}
@media (min-width: 960px) {
  #main-banner .badge span {
    font-size: 25px;
    line-height: 31px;
  }
}
#main-banner .badge img#quotes, #main-banner .badge img#stars {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#main-banner .badge img#quotes {
  top: 20px;
}
@media (max-width: 959px) {
  #main-banner .badge img#quotes {
    max-width: 26px;
    margin: 0 auto;
  }
}
@media (min-width: 960px) {
  #main-banner .badge img#quotes {
    top: 48px;
  }
}
#main-banner .badge img#stars {
  bottom: 28px;
}
@media (max-width: 959px) {
  #main-banner .badge img#stars {
    max-width: 46px;
    margin: 0 auto;
  }
}
@media (min-width: 960px) {
  #main-banner .badge img#stars {
    bottom: 64px;
  }
}

#about {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  padding-top: 70px;
  padding-bottom: 10px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  #about {
    align-items: center;
    padding-bottom: 70px;
  }
}
@media (min-width: 960px) {
  #about {
    padding-top: 117px;
    padding-bottom: 117px;
    align-items: flex-start;
  }
}
@media (min-width: 1280px) {
  #about {
    align-items: flex-start;
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) {
  #about #about-image, #about #about-text {
    width: 50%;
  }
}
#about #about-image {
  overflow: hidden;
}
@media (max-width: 767px) {
  #about #about-image {
    order: 1;
  }
}
#about #about-image img {
  max-width: 125%;
  transform: translateX(-29%);
}
@media (min-width: 768px) {
  #about #about-image img {
    transform: translateX(-16.5%);
  }
}
#about #about-text {
  padding: 0 20px;
}
@media (max-width: 767px) {
  #about #about-text {
    order: 0;
  }
}
@media (min-width: 768px) {
  #about #about-text {
    max-width: 517px;
    position: relative;
    z-index: 1;
  }
}
#about #about-text h2 {
  margin-bottom: 20px;
  text-align: left;
}
#about #about-text p {
  font-size: 18px;
  line-height: 30px;
  color: #110f0f;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  #about #about-text p {
    max-width: 85.5%;
  }
}
@media (min-width: 960px) {
  #about #about-text p {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 25px;
  }
}
#about #about-text p:last-child {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  #about #about-text p:last-child {
    margin-bottom: 0;
  }
}
#about #about-patty {
  position: absolute;
  right: -5%;
  bottom: -3%;
  filter: drop-shadow(0px 41px 31px rgba(0, 0, 0, 0.24));
}
@media (max-width: 959px) {
  #about #about-patty {
    max-width: 19%;
  }
}
@media (min-width: 960px) {
  #about #about-patty {
    right: -28px;
    bottom: -125px;
  }
}

#video {
  min-height: 553px;
  background: url("./assets/images/video-background.png") no-repeat 50% 50%;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 65px;
  position: relative;
  z-index: 1;
}
@media (min-width: 960px) {
  #video {
    padding-top: 130px;
    min-height: 782px;
  }
}
#video h2 {
  margin-bottom: 40px;
}
#video #arugula {
  position: absolute;
  filter: drop-shadow(0px 41px 34px rgba(0, 0, 0, 0.39));
  bottom: -40px;
  left: 0;
  max-width: 50%;
}
@media (max-width: 767px) {
  #video #arugula {
    display: none;
  }
}
@media (min-width: 960px) {
  #video #arugula {
    max-width: none;
  }
}

#order-section {
  min-height: 654px;
  background: url("./assets/images/order-background-mob.png") no-repeat 50% 100%, #000;
  background-size: cover;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
@media (min-width: 768px) {
  #order-section {
    background: url("./assets/images/order-background.png") no-repeat 90% 100%;
    background-size: cover;
    min-height: 573px;
  }
}
#order-section #os-text {
  position: absolute;
  top: 52px;
  left: 20px;
  right: 0;
}
@media (min-width: 768px) {
  #order-section #os-text {
    right: auto;
    left: 17px;
    top: 116px;
  }
}
#order-section #os-text h2 {
  font-size: 48px;
  line-height: 60px;
  color: #fff;
  margin-bottom: 12px;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #8e4600, 1px -1px 0 #8e4600, -1px 1px 0 #8e4600, 1px 1px 0 #8e4600, -2px -2px 0 #8e4600, 2px -2px 0 #8e4600, -2px 2px 0 #8e4600, 2px 2px 0 #8e4600, -3px -3px 0 #8e4600, 3px -3px 0 #8e4600, -3px 3px 0 #8e4600, 3px 3px 0 #8e4600;
}
@media (min-width: 768px) {
  #order-section #os-text h2 {
    font-size: 70px;
    line-height: 83px;
  }
}
#order-section #os-text p {
  color: #fff;
  font-family: var(--kaushan);
  font-size: 25px;
  line-height: 34px;
  text-shadow: 1px 1px 2px #8e4600;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  #order-section #os-text p {
    font-size: 25px;
    line-height: 34px;
  }
}
#order-section #os-text .order-now {
  line-height: 55px;
}
@media (max-width: 767px) {
  #order-section .badge {
    max-width: 75px;
    top: 358px;
    left: 141px;
  }
}
@media (min-width: 768px) {
  #order-section .badge {
    top: 69px;
    right: 10%;
    max-width: 172px;
  }
}
@media (min-width: 960px) {
  #order-section .badge {
    right: 13.5%;
  }
}
#order-section .badge > span {
  font-size: 13px;
  line-height: 11px;
  left: 0;
  right: 0;
  top: 38%;
}
@media (min-width: 768px) {
  #order-section .badge > span {
    font-size: 29px;
    line-height: 26px;
    top: 40%;
  }
}
#order-section .badge > span span {
  display: block;
  font-size: 8px;
  margin-top: 2px;
}
@media (min-width: 768px) {
  #order-section .badge > span span {
    font-size: 14px;
  }
}

#gallery {
  min-height: 553px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 58px;
  padding-bottom: 80px;
  position: relative;
  z-index: 1;
}
@media (min-width: 960px) {
  #gallery {
    padding-top: 118px;
    padding-bottom: 145px;
    min-height: 784px;
  }
}
#gallery img {
  position: absolute;
  bottom: -40px;
}
@media (min-width: 960px) {
  #gallery img {
    max-width: none;
  }
}
#gallery img#gallery-left {
  filter: drop-shadow(0px 41px 34px rgba(0, 0, 0, 0.39));
  left: -46px;
  bottom: 10px;
}
@media (max-width: 959px) {
  #gallery img#gallery-left {
    max-width: 93px;
  }
}
@media (min-width: 960px) {
  #gallery img#gallery-left {
    left: -110px;
    bottom: 135px;
  }
}
#gallery img#gallery-right {
  top: 28px;
  right: -30px;
}
@media (max-width: 959px) {
  #gallery img#gallery-right {
    max-width: 101px;
  }
}
@media (min-width: 960px) {
  #gallery img#gallery-right {
    top: 85px;
    right: -94px;
  }
}

/*# sourceMappingURL=custom.css.map */
